<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>health log</title>
</head>
<body>
<header id="header">
    헤더 삽입부
    <hr>
</header>
<main>
    <table class="table" id="body-table">
        <thead>
        <tr>
            <th class="body-id">운동 기록</th>
            <th class="muscle-mass">근육량</th>
            <th class="fat-mass">체지방량</th>
            <th class="created-at">날짜</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="body-id">운동 기록</td>
            <td class="muscle-mass">근육량</td>
            <td class="fat-mass">체지방량</td>
            <td class="created-at"><time>날짜</time></td>
        </tr>
        <tr>
            <td class="body-id">운동 기록</td>
            <td class="muscle-mass">근육량</td>
            <td class="fat-mass">체지방량</td>
            <td class="created-at"><time>날짜</time></td>
        </tr>
        </tbody>
    </table>
</main>

<footer id="footer">
    <hr>
    푸터 삽입부
</footer>

</body>
</html>