<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>게시글 페이지</title>
</head>

<body>

<header id="header">
    헤더 삽입부
    <hr>
</header>

<main id="article-main">
    <div>
        <section>
            <ul id="article-trainings">
                <li>
                    <div>
                        <strong>pull up</strong><br>
                        <span>개수 :</span>
                        <span id="training-number">15회</span>
                        <span>회</span><br>
                        <span>세트 :</span>
                        <span id="training-counting">3세트</span>
                        <span>회</span><br>
                    </div>
                </li>
            </ul>
        </section>
    </div>

    <div>
        <section>
            <aside>
                <p><time id="created-at" datetime="2022-01-01T00:00:00">2022-01-01</time></p>
            </aside>
        </section>

        <article id="article-content">
            <pre>본문<br><br></pre>
        </article>
    </div>


</main>

<footer id="footer">
    <hr>
    푸터 삽입부
</footer>

</body>
</html>