<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>health log</title>
</head>
<body>
<header id="header">
    헤더 삽입부
    <hr>
</header>
<main>
    <header id="article-form-header">
        <h1>게시글 작성</h1>
    </header>

    <form id="article-form">
        <div>
            <label for="content">본문</label>
            <textarea id="content" name="content" rows="5" required></textarea>
        </div>
        <div>
            <button type="submit" id="submit-button">저장</button>
            <button type="button" id="cancel-button">취소</button>
        </div>
    </form>
</main>


<footer id="footer">
    <hr>
    푸터 삽입부
</footer>

</body>
</html>